*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  text-decoration: none;

}
html{
  scroll-behavior: smooth;
}

.island-moments-regular {
  font-family: "Island Moments", cursive;
  font-weight: 400;
  font-style: normal;
}

.whisper-regular {
  font-family: "Whisper", cursive;
  font-weight: 400;
  font-style: normal;
}
header{
  height: 80px;
  list-style: none;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 1000;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 10%;
  padding-left: 5%;
  background: transparent;
  background-color: rgb(230, 230, 230);
}
.nav-list {
  
  display: flex;
  list-style: none;
  margin-left: auto; 
}

.nav-list a {
  
  color: black;
  margin-left: 30px; 
  font-size: 3vh;
  font-weight: 600;
  border-bottom: 6px solid transparent;
  transition: all.55s ease;
}

.logo {
  font-size: 30px;
  font-weight: 700;
  color: black;
  margin: 50px; 
}
.nav-list a:hover{
  border-bottom: 2px solid black;
}

#menu-icon{
color: black;
font-size: 35px;
z-index: 10001;
cursor: pointer;
padding-left: 20px;
display: none;
}

.biuro {

height: 100vh; /* Ustawia wysokość na całą wysokość widoku */
width: 100%;
padding-top: 25%;
background-image: url('desk-3076954.jpg');
background-size: cover; /* Dopasowuje obraz do całego tła */
background-position: center; /* Ustawia pozycję obrazu na środku tła */
display: flex; /* Używa Flexboxa do łatwego zarządzania układem */

flex-direction: column;

}

.biuro h1 {
font-family: "Island Moments", cursive;
font-size :  15vh;
font-weight: 100;
justify-content: center; /* Wyśrodkowuje zawartość w poziomie */
align-items: center; /* Wyśrodkowuje zawartość w pionie */
margin: 0 auto;

text-shadow: 0 4px 8px rgba(0, 0, 0, 0.25);
}

.biuro p {
  font-family: "Poppins", sans-serif;
  font-size: 5vh ;
  font-weight: 200;
  display: flex;
  justify-content: center; /* Wyśrodkowuje zawartość w poziomie */
  align-items: center; /* Wyśrodkowuje zawartość w pionie */
  padding: 0 auto;
  text-align: center; /* Wyśrodkowuje tekst w poziomie */
  text-shadow: 0 4px 8px rgba(0, 0, 0, 0.25);
}

.O-nas-text {
width: 100%;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
padding: 70px 80px;
text-align: center;
margin-top: 50px; 
margin-bottom: 50px;
max-width: 800px; 
margin: 0 auto;
}
.O-nas-text h1 {
display: flex; 
font-family: "Poppins", sans-serif;
font-size: 6vh;
font-weight: 100;

max-width: 800px;
justify-content: center;
flex-direction: column;

}
.O-nas-text p{
 

font-size: 3vh;
font-weight: 200;


}

.Cytat {
width: 100%;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
padding: 40px 80px; 
background-color: rgb(115, 115, 115);
color: white;
font-size: 24px;
font-weight: 200;
text-align: left;
margin: 0 auto; /* Wyśrodkowanie tekstu */
}
.Cytat-text{
  padding-left: 50px;
}

.Cytat h1 {
width: 100%;
max-width:1000px; /* Ustawia maksymalną szerokość tekstu na 800 pikseli */
margin: 0 auto; /* Wyśrodkowanie tekstu */
}
.Usługi ul{

list-style-type:  disc;/* Ustawienie stylu punktów jako kropki */
padding-left: 20px; /* Dodanie wcięcia dla punktów */

}
.Usługi{
margin: 0 auto;
display: flex;
justify-content: center;
width: 100%;
align-items: center;
flex-direction: column;
font-size: 24px;
font-weight: 200;
text-align: left;
margin: 0 auto; /* Wyśrodkowanie tekstu */
line-height: 2;
margin-bottom: 300px;
padding-top: 70px;



}
.Usługi .textUS {
background-color: rgba(255, 255, 255, 0.8);
padding-right: 100px;
display: flex;
justify-content: center;
flex-direction: column;
text-align: left;
font-weight: 400;

}

.Usługi .textUS ul {
list-style-position: inside;
display: flex;
justify-content: center;
flex-direction: column;
text-align: left;
}
.Usługi .textUS h1 {
margin-left: 20px;
}
.tloSzcyty{
background-image: url('mountains-5727541_1920.jpg');
background-size: cover; /* Dopasowuje obraz do całego tła */
background-position: center; /* Ustawia pozycję obrazu na środku tła */
}

body{

justify-content: flex-end;

}


footer{
background-color: white;
position: relative;
width: 100%;
min-height: 200px;
margin-top: 150px;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
}
footer .social_icon, footer .menu{
position: relative;
display: flex;
justify-content: center;
align-items: center;
margin: 10px 0;
flex-wrap: wrap;

}
footer .social_icon li, footer .menu li{
list-style: none;


}
footer .social_icon li a, footer .menu li a{
font-size: 2em;
color: black;
margin: 0 10px;
display: inline-block;
transition: 0.5s;

}
footer .social_icon li a:hover{
transform: translateY(-10px);
}

footer .menu li a{
font-size: 1.2em;
color: black;
margin: 0 10px;
display: inline-block;
opacity: 0.75;
text-decoration: none;

}
footer .menu li a:hover{
opacity: 1;
}
footer .fale{
position: absolute;
top: -200px;
left: 0;
width:100% ;
height: 100%;
background: url(wave.png);
background-size: 1000px 200px  ;
}

footer .fale#fale1{

opacity: 1;

animation: animateWave   4s linear infinite;
}
footer .fale#fale2{

opacity: 0.5;

animation: animateWave   3.5s linear infinite;
}
footer .fale#fale3{

opacity: 0.2;

animation: animateWave_02   3s linear infinite;
}
footer .fale#fale4{

opacity: 0.7;

animation: animateWave_02   2.5s linear infinite;
}
@keyframes animateWave{
0%{
  background-position-x: 1000px;
}
100%{
  background-position-x: 0px;
}
}
@keyframes animateWave_02{
0%{
  background-position-x: 1000px;
}
100%{
  background-position-x: 0px;
}
}
@media(max-width:2561px){

}

@media(max-width:1961px){
  .biuro {

     
    padding-top: 20%;
    
    
    }
    .biuro h1{
      
      font-size: 10vh;
    }

}
@media(max-width:1441px){
  .biuro {

     
    padding-top: 25%;
    
    
    }
    .biuro h1{
      
      font-size: 10vh;
    }

}
@media(max-width:1025px){
  .biuro {

     
    padding-top: 35%;
    
    
    }
    .biuro h1{
      
      font-size: 10vh;
    }

}
@media(max-width:768px){
  
  #menu-icon{
    display: block;
  }
  .nav-list{
    position: absolute;
    top: 100%;
    right:-100%;
    width: 300px;
    height: 45vh;
    background:rgb(204, 204, 204);
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 50px 20px;
    transition: all .55s ease;
    z-index: 999;
  }
  .nav-list a{
    display: block;
    margin: 10px 0;
    margin-left: 0;
  }
  .nav-list.open{
    right: 0;
  }
  .biuro {

   
    padding-top: 48%;
    
    
    }
    .biuro h1{
      
      font-size: 10vh;
    }
    
    
}
@media(max-width:426px){
  .biuro h1{
      padding-top: 48%;
      font-size: 50px;
         
         
  }
  .biuro p{
    align-items: center;
    justify-content: center;
    
  }
 .Cytat-text{
  padding-left: 0px;
 }

}
@media(max-width:376px){
.biuro h1 {
  margin-top: 35px;
  font-size :  46px;
  
  
}
}.biuro p {
margin-left: 0px;
font-weight: 300;
font-size: 3vh ;

}
@media(max-width:320px){
  .biuro h1 {
    margin-top: 85px;
    font-size :  38px;
   
    
  
  }
.O-nas-text {
  
  font-size: 3vh;
  font-weight: 200;
  
 

}footer .social_icon li a, footer .menu li a{
  font-size: 1.5em;
  
  
  
  
  }
}
.scroll {
  position: absolute;
  display: inline-block;
  margin-top: -20vh; 
  
  margin-left: 80%  ;
  z-index: 1000; 
}
.scroll i{
  display: block;
  padding: 12px;
  font-size: 25px;
  color: white;
  background: gray;
  border-radius: 30px;
  transition: all.50s ease;
  
  
}
.scroll i:hover{
  transform: translateY(-5px);

}