.kontakt-body{
    background: linear-gradient(#ffdad5,#fff7f9);
    background-size: 100vh;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    }
    html{
      scroll-behavior: smooth;
      
    }
    header{
      height: 80px;
      list-style: none;
      position: fixed;
      right: 0;
      top: 0;
      z-index: 1000;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding-right: 10%;
      padding-left: 5%;
      background: transparent;
      background-color: rgb(230, 230, 230);
    }
    .nav-list {
      
      display: flex;
      list-style: none;
      margin-left: auto; 
    }
    
    .nav-list a {
      
      color: black;
      margin-left: 30px; 
      font-size: 3vh;
      font-weight: 600;
      border-bottom: 6px solid transparent;
      transition: all.55s ease;
    }
    
    .logo {
      font-size: 30px;
      font-weight: 700;
      color: black;
      margin: 50px; 
    }
    .nav-list a:hover{
      border-bottom: 2px solid black;
    }
    
    #menu-icon{
    color: black;
    font-size: 35px;
    z-index: 10001;
    cursor: pointer;
    padding-left: 20px;
    display: none;
    }
   
    .kontakt-kontener{
      height: 100vh;
      display: flex;
      align-items: center;
      justify-content: space-evenly;
    }
    .kontakt-lewo{
    display: flex;
    flex-direction: column;
    align-items:start ;
    gap: 20px;
    }
    .kontakt-lewo-tytul h2{
    font-weight: 600;
    color: #a363aa;
    font-size: 40px;
    margin-bottom:5px ;
    
    }
    .kontakt-lewo-tytul hr{
      border: none;
      width: 120px;
      height: 5px;
      background-color: #a363aa;
      border-radius: 10px;
      margin-bottom : 20px; 
    
    }
    .dane-kontakt{
      width: 400px;
      height: 50px;
      border: none;
      outline: none;
      padding-left: 25px;
      font-weight: 500;
      color: #666;
      border-radius: 50px;
    
    
    }
    .kontakt-lewo textarea{
      height: 140px;
      padding-top: 15px;
      border-radius: 20px;
    
    }
    .dane-kontakt:focus{
      border: 2px solid #ff994f;
    }
    .dane-kontakt::placeholder{
      color: #a9a9a9;
    }
    .kontakt-lewo button{
      display: flex;
      align-items: center;
      padding: 15px 30px;
      font-size: 16px;
      color: #fff;
      gap: 10px;
      border: none;
      border-radius: 50px;
      background: linear-gradient(270deg, #ff994f,#fa6d86);
      cursor: pointer;
    
    }
    .kontakt-lewo button img{
      height: 15px;
    }
    .kontakt-prawo img{
      width: 500px;
    }
    @media (max-width:800px) {
      .dane-kontakt{
        width: 80vw;
      }
      .kontakt-prawo{
        display: none;
      }
      
    }